body {
  background: #226543;
  padding: 20px;
  color: #000;
  font-size: 18px;
  display: block;
  margin: 8px;
}

h2 {
  color: white;
}

ul {
  list-style: none;
  width: 600px;
}

li {
    padding: 16px 20px 0 20px;
    box-sizing: border-box;
    background: #fff;
    color: #222;
    height: 50px;
    margin-bottom: 20px;
    text-indent: 0;
    border-radius: 5px;
    position: relative;
    display: list-item;
    text-align: match-parent;
}

span.remove {
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  transform: rotate(45deg);
  right: 20px;
  cursor: pointer;
}

span.remove::before, span.remove::after {
  background: #ec5555;
  content: "";
  position: absolute;
}
span.remove {
  cursor: pointer;
}

span.remove::before {
  height: 3px;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -1px;
}

span.remove::after {
  width: 3px;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
}
